#logs{
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 90%;
    border-radius: 5px;

}
