
<section id="inventario">
    <div id="action-btn">
        <button class="button" (click)="agregar()">agregar producto</button>
    </div>

    <table>
        <thead>
            <tr>
                <th scope="col">id_Producto</th>
                <th scope="col">nombre</th>
                <th scope="col">precio</th>
                <th scope="col">cantidad</th>
                <th scope="col">estado</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
              <td scope="col">{{item.id}}</td>
              <td scope="col">{{item.nombre}}</td>
              <td scope="col">{{item.precio}}</td>
              <td scope="col">{{item.cantidadInventario}}</td>
              <td scope="col">{{item.estado?'activo':'inactivo'}}</td>
              
              <td scope="col">
                <button class="btn-warning" *ngIf="item.estado" (click)="activate(item.id, item.estado)">Eliminar producto</button>
                <button class="btn-success" *ngIf="!item.estado" (click)="activate(item.id, item.estado)">Activar Producto</button>
                <button class="btn-warning" *ngIf="item.estado" (click)="edite(item.id, item)">Editar Producto</button>
              </td>
            </tr>
    </table>
</section>